.colorBtn
{
    background: #dee047;
    color: #000;
}

body {
    background-image: url("/img/headerSaraFix.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #dee047;
    overflow-x:hidden;
    overflow-y:visible;
    font-weight: bolder;
}

.formRegister{
    margin-top: 10%;
}

.classTransparent
{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.07), rgba(39, 39, 39, 0.61)) !important;
    color: #dee047 !important;
    border-color: #000 !important;
}

.classTitlePanel
{
    font-size: 20px;
    font-weight: 600;
}